.loading {
  &-circle {
    position: relative;
    border-radius: 50%;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-bottom-color: $primary;
    animation: spin 0.5s linear infinite;
  }

  &.xs {
    .loading {
      &-circle {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &.sm {
    .loading {
      &-circle {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &.md {
    .loading {
      &-circle {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &.lg {
    .loading {
      &-circle {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &.fallback {
    position: fixed;
    top: 1rem;
    inset-inline-start: 50%;
    transform: translate(-50%, 0%);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary;
    border-radius: 1rem;
    @include media-breakpoint-down(md) {
      inset-inline-start: 1rem;
      transform: translate(0%, 0%);
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
